body{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    flex-direction: column;
    background-color: mediumseagreen;
    margin-top: -30px;
}

.container {
    margin-top: -1%;
    border-radius: 20px;
    background-color: red;
    height: 550px;
    width: 700px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

h1{
    font-size: 80px;
    color: gold;
    text-shadow: 5px 5px rgb(255, 0, 0);
}

.grid{
    display: inline-grid;
    margin: 50px 150px 40px 150px;
    min-height: 400px;
    min-width: 400px;
    outline: black auto 2px;
}

.cell{
    background-color: white;
    border: 1px solid black (255, 255, 255);
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: -10px;
}

button{
    width: 80px;
    font-size: 24px;
    background-color: white;
    box-shadow: 5px 5px;
    border-radius: 100px;
    width: 140px;
    height: 50px;
}

button:hover{
    transform: scale(1.1);

}

button:active{
    transform: scale(1.2);
}

h3 {
    font-size: 20px;
    color: gold;
    text-shadow: 5px 5px rgb(255, 0, 0);
    writing-mode: vertical-lr;
    margin-left: 100%;
    margin-top: -10%;
}

.gridSize{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    /* margin-left: 7%;
    margin-bottom: -8%; */
}


#plusBtn{
    height: 40px;
    width: 40px;
} 
#minusBtn{
    height: 40px;
    width: 40px;
} 

#currentSize{
    height: 40px;
    width: 40px;
    background-color: white;
    outline: black auto 2px;
    text-align: center;
}

#minus{
    height: 40px;
    width: 40px;
    margin: 280px 1000px -100px 50px;

}